backend/node_modules/
backend/config
backend/.env
backend/session.log
backend/services/videoMetadata.js
backend/services/deprecated/cloudGarbage.js
backend/services/image/imageService.js
backend/__tests__/Middleware/enforceLimitations.t.js
/build